name: "Deploy Project"
on: 
  pull_request:
    types:
      - opened
      - edited
  workflow_dispatch:
  push:
    branches:
      - main
      - dev
jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: Output event data
        run: echo "${{toJSON(github.event)}}"
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm ci
      - name: Run Test
        run: npm run test
  Build:
    needs: Test
    runs-on: ubuntu-latest
    outputs:
      script-file: ${{ steps.publish.outputs.script-file }}
    steps:
      - name: Code Checkout
        uses: actions/checkout@v4
      - name: Install Dependencies
        run: npm ci
      - name: Build Code
        run: npm run build
      - name: Publish File Name
        id: publish
        run: find dist/assets/*js -type f -execdir echo 'script-file={}' >> $GITHUB_OUTPUT ';'
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist-files
          path: dist
  Deployment:
      needs: Build
      runs-on: ubuntu-latest
      steps:
        - name: Get Build Artifacts
          uses: actions/download-artifact@v4
          with:
            name: dist-files
        - name: Output File Name
          run: echo "${{ needs.Build.outputs.script-file }}"